<ion-header>
    <ion-toolbar>
        <ion-title>Gerenciar Interações</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="fechar()">Fechar</ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div *ngIf="interacoes.length === 0" class="ion-text-center" style="margin-top: 50px;">
        <p>Nenhuma interação cadastrada.</p>
    </div>

    <ion-list>
        <ion-item-sliding *ngFor="let item of interacoes">
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h2>{{ item.medicamento1_nome }} + {{ item.medicamento2_nome }}</h2>
                    <p><strong>{{ item.gravidade }}</strong></p>
                    <p>{{ item.descricao }}</p>
                </ion-label>
            </ion-item>

            <ion-item-options side="end">
                <ion-item-option color="danger" (click)="removerInteracao(item)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="adicionarInteracao()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>