.error-message {
  color: var(--ion-color-danger);
  font-size: 14px;
  padding-left: 16px;
  padding-bottom: 8px;
}

ion-segment-button {
  --indicator-color: var(--ion-color-primary);
  --color-checked: var(--ion-color-primary);
  font-size: 16 px;
  font-weight: 500;
  min-height: 48px;
}
